.DS_Store
Thumbs.db
*.log
.env
.env.*
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
/coverage
/.next/
/out/
/build
*.pem
npm-debug.log*
.vercel
*.tsbuildinfo
next-env.d.ts
next-tmp/
